<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{{get_emoji}}}</p>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
</div>

<div class="text-center">
  {{#if blogpost.comments.length}}
  <h3>Comments</h3>
  {{#each blogpost.comments as |comment|}}
  {{> comments}}
  {{/each}}
  {{else}}
  <h6>No comments yet...</h6>
  {{/if}}
</div>
